// BB Press Style

// Config
// ------
$meta-text-color: lighten($text-color, 50);


#center.bbpress {
	width: 680px;
}

// Sidebar Styles for BBPRess Widget
li.widget_display_forums,
li.widget_display_topics,
li.bbp_widget_login,
li.widget_display_views,
{
	@extend .teaser;
}

// disable all outlines
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums fieldset.bbp-form,
{
	border: none;
}
// disale styling of fieldset
#bbpress-forums fieldset.bbp-form {
	padding: 0;
	legend {
		@extend h3
	}
}

// forum overview table header
#bbpress-forums {
	.bbp-topic-meta {
		margin: 0;
		font-size: inherit;
		color: $meta-text-color;
		a {
			color: $meta-text-color;
		}
	}
	.bbp-forum-content {
		color: $meta-text-color;
	}

	// forum listing
	li.bbp-header {
		background: $app-background-color;
		border: none;
		border-bottom: 2px solid invert($app-background-color);
	}
	li.bbp-footer {
		background: none;
		border: none;
	}

	// thread view
	li.bbp-footer {
		display: none;
	}
}