// BB Press Style
#center.bbpress {
	width: 680px;
}

// Sidebar Styles for BBPRess Widget
li.widget_display_forums,
li.widget_display_topics,
li.bbp_widget_login,
{
	@extend .teaser;
}

// forum overview table header
#bbpress-forums {
	p.bbp-topic-meta {
		margin: 0;
		font-size: inherit;
	}
	.bbp-forum-content {
		color: lighten($text-color, 50);
	}
	ul.bbp-forums {
		border: none;
	}
	li.bbp-header {
		background: $app-background-color;
		border: none;
		border-bottom: 2px solid invert($app-background-color);
	}
	li.bbp-footer {
		background: none;
		border: none;
	}
}