// BB Press Style

// Config
// ------
$meta-text-color: lighten($text-color, 50);


// Sidebar Styles for BBPRess Widget
li.widget_display_forums,
li.widget_display_topics,
li.bbp_widget_login,
li.widget_display_views,
li.widget_display_replies,
{
	@extend .teaser;
}

li.widget_display_topics,
li.widget_display_replies, {
	> ul > li {
		font-size: 0.9em;
		border-bottom: 1px solid darken(#ebebeb, 20);
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
}

// forum overview table header
#bbpress-forums {

	&,
	ul.bbp-lead-topic, 
	ul.bbp-topics,
	ul.bbp-forums, 
	ul.bbp-replies,
	{
		font-size: inherit;
	}

	// disable all outlines
	ul.bbp-lead-topic,
	fieldset.bbp-form,
	{
		border: none;
	}

	.bbp-topic-meta {
		margin: 0;
		font-size: inherit;
		color: $meta-text-color;
		a {
			color: $meta-text-color;
		}
	}
	.bbp-forum-content {
		color: $meta-text-color;
	}

	// forum listing
	li.bbp-header {
		font-size: $meta-font-size;
		background: $app-background-color;
		border: none;
		border-bottom: 2px solid invert($app-background-color);
	}
	li.bbp-footer {
		background: none;
		border: none;
	}

	// thread view
	li.bbp-footer {
		display: none;
	}

	li.bbp-topic-title {
		width: 65%;
	}

	// topic header
	li.bbp-header {
		div.bbp-reply-content {
			margin: 0;
		}
	}
	div.bbp-reply-content {
		margin: 0;
	}
	.bbp-meta {
		font-size: $meta-font-size;
		line-height: 200%;
		border-bottom: 1px solid #B1B1B1;
	}

	// form
	fieldset.bbp-form {
		margin: 0;
		padding: 0em;

		// resetting widths
		p, 
		textarea,
		select,
		input,
		{
			width: auto;
		}
		
		fieldset {
			legend {
				display: none;
			}
		}
		legend {
			@extend h3
		}
		label, input {
			clear: both;
			width: auto;
		}
		label {
			&:after {
				content: '';
			}
		}
		p.form-allowed-tags {
			code {
				border: #CEE1EF 1px solid;
				@include background(aliceBlue);
				display: table-cell;
				padding: 0.5em;
				font-family: Monaco, Courier;
			}
		}
		.bbp-submit-wrapper {
			float: left;
		}
	}
}

// author page
#author-description {
	margin-left: 0 !important;
}