/** hint and error boxes **/
p.hint, p.error, p.success {
	border: 2px solid #999;
	background-color: #DFDFDF;
	padding: 0.75em 1em;
}
p.hint {
	border-color: #A1D591;
	background-color: #E2FDE1;
}
p.error {
	background-color: #EEB5B5;
	border-color: #AA2725;
}