@import "partial/links";
@import "partial/typography";
@import "partial/form";

@import "partial/sidebar";
@import "partial/topbar";
@import "partial/pagination";
@import "partial/post";
@import "partial/footer";

$background-canvas-color: #fff;

body {
	width: $app-width + 20;
	margin: 1em auto 2em auto;
	@include background($background-canvas-color);
}

#app {
	background-color: $app-background-color;
	width: $app-width;
	border: 1px solid darken($app-background-color, 10);
	display: table;
	clear: both;
	@include border-radius(4px);
	.leftSidebar {
		margin-left: 5px;
		width: 220px;
		float: left;
	}
	.rightSidebar {
		margin-right: 5px;
		float: right;
		width: 220px;
	}
}
#center {
	float: left;
	width: 430px;
	margin-left: 30px;
}
#header {
	padding: 5px;
	margin: 1em 0em 1.5em 0em;
	h1 a {
		width: 540px;
		height: 100px;
		margin: 0px 0px 0px 218px;
		&:hover {
			background: transparent !important;
		}
	}
}

span.comments a {
	$image: "icon/comment-16x16.png";
	@include background(inline-image($image) no-repeat left center);
	padding-left: image-width($image) + 2px;
}

#searchForm {
	margin-top: -1px;
	display: table;
	float: right;
	input {
		width: 155px;
		&.submit {
			width: 50px;
		}
	}
}

@import "partial/icons";
@import "partial/alerts";
@import "partial/breadcrumb";
@import "partial/mobile";