#footer {
	margin: 1em 0em;
	text-align: center;
	font-size: 0.75em;
	&, a {
		color: #999;
	}
}

#footer-navigation ul li {
	display: inline;
	&:after {
		content: '|';
	}
	&:last-child:after {
		content: '';		
	}
}